.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

/* app/page.module.css */

.h1 {
  margin-bottom: 40px;
  color: #333;
}

.gameArea {
  min-width: 600px; /* ある程度の幅を確保 */
  padding: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.wordDisplay {
  margin-bottom: 30px;
  font-family: monospace; /* 等幅フォントで文字のずれを防ぐ */
  font-size: 3em; /* 大きめに表示 */
  letter-spacing: 2px;
  white-space: pre; /* 半角スペースも表示されるように */
}

.correctChars {
  color: #28a745; /* 正しく入力された文字の色 */
}

.remainingChars {
  color: #dc3545; /* 未入力の文字の色 */
}
